/* background: #002b36
** normal text: #839496
** item1: #b58900
** item2: #cb4b16
** item3: #dc322f
** item4: #d33682
** item5: #6c71c4
** item6: #268bd2
** item7: #2aa198
** item8: #859900
*/

body {
    background-color: #002b36;
}

@font-face {
    font-family: times;
    src: url(times.tff) format('truetype');
}  

.body::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
        to bottom,
        rgba(18, 16, 16, 0) 50%,
        rgba(0, 0, 0, 0.25) 50%
    );
    background-size: 100% 8px;
    z-index: 2;
    pointer-events: none;
}


a { 
    color: inherit; 
    text-decoration: none;
} 
.box {
    top: 12%;
    left: 20%;
    text-align: left;
    position: absolute;
    font-family: times;
}

.kittycat {
    position: absolute;
    right: 20%;
    top: 20%;
    width:30%
}